body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f4f7fa;
  color: #333;
}.mega-logo {
  max-height: 60px;
  border-radius: 50%; /* Si deseas redondear el logo */
}
.header {
  background-color: #0A1D67; /* Azul corporativo */
  padding: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.header-title {
  color: white;
  font-size: 24px;
  margin-left: 10px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-content nav {
  margin-left: auto;
}


.main-container {
  padding: 40px;
}

.reporte-section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: auto;
}

.reporte-form {
  display: flex;
  flex-direction: column;
}

.reporte-form label {
  margin-top: 15px;
  font-weight: bold;
}

.reporte-form select,
.reporte-form input,
.reporte-form button {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reporte-form button {
  margin-top: 20px;
  background-color: #0A1D67;
  color: white;
  border: none;
  cursor: pointer;
}

.reporte-form button:hover {
  background-color: #0077b6;
}

.reporte-resultado {
  margin-top: 30px;
  font-style: italic;
  color: #666;
}
